.container {
	margin-top: 40px;
	padding-right: 20px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 40px);
}

.now {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.forecast {
	height: 400px;
	overflow-y: scroll;
}

.status {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.temp {
	font-size: 4em;
	color: rgb(66, 165, 244);
}

.description {
	font-size: 2em;
	color: rgb(114, 114, 114);
}

.now img {
	height: 90px;
}
