.primary {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.name {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.city {
	font-size: 3vh;
	color: rgb(66, 165, 244);
}

.country {
	font-size: 2vh;
	color: rgb(114, 114, 114);
}

.temp {
	display: flex;
	align-items: center;
	font-size: 4vh;
	color: rgb(66, 165, 244);
}

.status {
	height: 100%;
	display: flex;
	padding-top: 1vh;
	justify-content: space-around;
	border-top: 0.1vh solid rgb(211, 211, 211);
	color: rgb(114, 114, 114);
	font-size: 2vh;
}

.container {
	background-color: white;
	margin-top: 1vh;
	align-self: center;
	padding: 1vh 2vw;
	width: 97%;
	text-decoration: none;
	color: black;
	display: flex;
	flex-direction: column;
	border: 0.1vh solid rgb(225, 225, 225);
	transition: background-color 0.3s ease;
}

