html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.mainPage {
  display: flex;
  flex-direction: column;
}

body {
  @import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
  font-family: 'Comfortaa', cursive;
  overflow: hidden;
  margin: 0;
}
