.input {
	font-family: inherit;
	font-size: 2vh;
	width: 100%;
	height: 100%;
	padding: 1vh 1vw;
	border: 0.2vh solid rgb(79, 110, 163);
	border-radius: 2em;
	outline: none;
}

.container {
	width: 100%;
	justify-self: flex-end;
	height: 6vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1vh;
	padding: 0 1vw 0 1vw;
}

.buttons {
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

img {
	height: 5vh;
}

.geo {
	margin-right: 0.7vh;
}

.geo:hover {
	transition: all 0.5s ease;
	opacity: 70%;
}

.send:hover {
	transition: all 0.5s ease;
	opacity: 70%;
}

.attach:hover {
	transition: all 0.5s ease;
	opacity: 70%;
}
