.input {
	font-family: inherit;
	font-size: 2vh;
	width: 100%;
	height: 100%;
	padding: 1vh 1vw;
	border: 0.1vh solid darkgrey;
	border-radius: 2em;
	outline: none;
}

.container {
	width: 100%;
	justify-self: flex-end;
	height: 6vh;
	padding-right: 1vw;
	padding-bottom: 1vh;
	display: flex;
	flex-direction: row;
}

.attach {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.attach:hover {
	transition: all 0.5s ease;
	transform: rotate(360deg);
}
