$reduce: reduce;

.container {
	position: relative;
	max-width: 75%;
	margin-bottom: 2vh;
	padding: 1vh;
	border-radius: 1em;
	font-size: 2vh;
	animation-name: slideUp;
	animation-duration: 1s;
	animation-timing-function: ease;
	visibility: visible !important;

	@media screen and (prefers-reduced-motion: $reduce) {
		position: relative;
		max-width: 75%;
		margin-bottom: 2vh;
		padding: 1vh;
		border-radius: 1em;
		font-size: 2vh;
		animation: none;
		animation-duration: 1s;
		animation-timing-function: ease;
		visibility: visible !important;
	}
}

.received {
	margin-left: 1vw;
	align-self: flex-start;
	background: rgb(236, 236, 241);
}

.sent {
	margin-right: 1vw;
	align-self: flex-end;
	background: rgb(214, 229, 250);
}

.time {
	margin-right: 1vw;
	font-size: 2vh;
	color: rgb(144, 145, 147);
	text-align: right;
}

.status {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.read {
	margin-right: 1vh;
	background-color: rgb(79, 110, 163);
	height: 1vh;
	width: 1vh;
	border-radius: 50%;
}

.content {
	word-break: break-all;
	margin: 1vh 2vh;
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}

	50% {
		transform: translateY(-8%);
	}

	65% {
		transform: translateY(4%);
	}

	80% {
		transform: translateY(-4%);
	}

	95% {
		transform: translateY(2%);
	}

	100% {
		transform: translateY(0%);
	}
}
