.avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10vh;
}

.name {
	font-size: 2.5vh;
	font-weight: bold;
}

.container {
	line-height: 4vh;
	text-decoration: none;
	color: black;
	display: flex;
	min-height: 10vh;
	align-items: center;
	border-bottom: 0.1vh solid lightgray;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.container:hover {
	background: aliceblue;
}

.status {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-right: 1vw;
}

.lastMessage,
.time {
	font-size: 2vh;
	color: #555555;
}

.time {
	font-size: 1.5vh;
}

.counter {
	display: none;
	font-size: 2vh;
	font-weight: bold;
	padding: 1vh 1vw;
	border-radius: 1vh;
	color: #555555;
	background: #d6e5fa;
}

.read {
	background-color: #4f6ea3;
	height: 0.8vh;
	width: 0.8vh;
	border-radius: 50%;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 1vw;
	width: 100%;
	height: 100%;
	word-break: break-all;
}
